.menu_item{
    display: inline-flex;
    list-style:inside;
    margin-left: 2rem;
    padding: 10px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    float:right;
}

.menu-items {
    margin-top: 2.5rem;
    margin-right: 1.6rem;
    position: relative;
    padding-right: 6em;
    text-align: center;
    float:right;
}


.navigationBar .menu-logo .logo {
    margin-top: 1rem;
    margin-left: 1rem;
    float:left;
}

.navigationBar {
    display: block;
    background-color: #EEEEEE;
    padding-bottom: 1rem;
}

.items a {
    text-decoration: none;
    color: #0c2461;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}


.main {
    display: flex;
    flex-direction: column
}


.main-header-search {
    font-size: 0.8rem;
    font-family: Poppins, sans-serif;
    background-color: #EEEEEE;
    padding: .5em 4em;
    border-radius: 2em;
    margin-top: 3em;
    margin-left: 2em;
    display:inline-flex;
    
  }
  
  .menu-body .main-header-search svg {
    color: #0c2461;
    margin-inline-end: 0.8em;
    float: left;
  }
  
  .menu-body .main-header-search input {
    border: 0;
    background-color: transparent;
    color: #EEEEEE;
    font-size: 1.2em;
    float: left;
  }

  .content {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .menu-body iframe {
    margin-top: 2rem;
    margin-left: 2rem;
    float: left;
  }

  .UcxlA {
    margin-left: 6rem;
    margin-right: 6rem;
    display: flex;
    align-items: flex-start;
    margin-top: auto;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 5rem;
}
.left-side{
  margin-left: 45rem;
  margin-top: 3rem;
}

.right-side__title{
  text-align: center;
}


